#container {
    width: 100%;
    height: 100%;
    text-align:center;
}

#title {
    margin: 10px;
}

#board {
    display: inline-block;
    background-color: #e6a441;
    background: url('board.png') no-repeat;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    padding: 6px;
    cursor: crosshair;
}

#put-button {
    color: white;
    font-size: 30px;
    margin: 10px;
    padding: 20px 100px;
    background-color: #ade2e9;
    border: 2px solid blue;
    border-radius: 2px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#put-button:hover {
    background-color: #66dbd2;
}

#put-button:active {
    background-color: #ddf8ff;
}

.board-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.board-cell {
    color: black;
    position: relative;
}

.cell-content {
    user-select: none;
    pointer-events: none;
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 20px;
}

.cell-empty>.cell-content {
    background-color: antiquewhite;
    background-color: transparent;
}

.cell-black>.cell-content {
    background: radial-gradient(#303030, black);
}

.cell-white>.cell-content {
    background: radial-gradient(#dfdfdf, white);
}

#board[data-turn="2"] .cell-empty:hover>.cell-content,
#board[data-turn="2"] .cell-selected>.cell-content {
    background-color: rgba(255, 255, 255, 0.623);
}

#board[data-turn="1"] .cell-empty:hover>.cell-content,
#board[data-turn="1"] .cell-selected>.cell-content {
    background-color: rgba(14, 12, 12, 0.623);
}

.cell-empty.cell-banned>.cell-content{
    outline: 2px solid red;
}
.cell-empty.cell-banned>.cell-content::after, .cell-empty.cell-banned>.cell-content::before {
    position:absolute;
    display:block;
    content:'';
    width:2px;
    height:30px;
    background-color:red;
    font-size:30px;
    top:3px;
    left:17px;
}
.cell-empty.cell-banned>.cell-content::after{
    transform:rotate(45deg);
}
.cell-empty.cell-banned>.cell-content::before {
    transform:rotate(-45deg);
}

.cell-selected::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    outline: 2px dotted rgb(255, 0, 0);
}

.cell-lastselected::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    top: 13.5px;
    left: 13.5px;
}

.cell-white.cell-lastselected::after {
    background-color: black;
}

.cell-black.cell-lastselected::after {
    background-color: white;
}

#board[data-turn="1"]~#put-button {
    background-color: #000000;
    color: white;
}

#board[data-turn="2"]~#put-button {
    background-color: #ffffff;
    color: black;
}