doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Omok - Lobby

        link(rel="stylesheet", href="/static/lobby.css")
    body 
        div(id="container")
            h1 로비
            label(for="name-input") 이름
            input(type="text" id="name-input")
            button(type="button", id="match-button") 매치 신청하기
        script(type="text/javascript" src="/static/lobby.js")

